<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Manuela Gonzalez-Carloman**  
  State Civil Administrator

*I am interested in data science because I want to learn how to deal with data properly to be able to find solutions to problems and take informed decisions accordingly*

### Next line will show the result of adding 2 and 5

In [3]:
2+5

7


---
  * apples
  * oranges
  * bananas
1. first
2. second
3. third
| fruits | price |
| ------ | ------ |
| apples | 1 |
| oranges | 1 |
| bananas | 2 |